<section class="content">
  <div class="users-header">
    <h1>Users</h1>
    <button class="invite-btn" (click)="openInviteModal()">Invite User</button>
  </div>
  <!-- Search Bar -->
  
   <div class="search-filter-container">
      <div class="filter-wrapper">
        <select id="filter" name="filter" class="filter-dropdown" [(ngModel)]="selectedFilter">
          <option value="" disabled selected> Select Filter</option>
          <option value="name">Name</option>
          <option value="email">Email</option>
        </select>
      
   </div>

   <div class="search-filter-container">
    <div class="search-wrapper">
      <div class="search-container">
        <input type="text" placeholder="Search users..." class="search-bar"
        id="search" [(ngModel)]="searchUser" (keydown.enter)="onSearch()"
        >
        <img src="assets/search-blue.svg" class="search-icon" alt="Search">
      </div>
      
    </div>
  </div>  
   </div>
  
   <div class="table-and-pagination-wrapper">
    <div class="table-wrapper">
      <table class="users-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>Role</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers">
            <td><img src="assets/user-default.svg" class="action-icon"> {{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.status === true ? 'Active' : user.status === false ? 'Inactive' : 'No Status' }}</td>
            <td>{{ user.role }}</td>
            <td>
              <img src="assets/view.svg" class="action-icon" style="width: 25px; height:25px;" (click)="openConfirmViewModal(user)">
            </td>
            <td>
              <img src="assets/edit.svg" class="action-icon" title="Edit" (click)="openUpdateModal(user)">
            </td>        
            <td>
              <img src="assets/trash.svg" class="action-icon" title="Delete" (click)="openConfirmDeleteModal(user)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="bottombar-wrapper">
      <p class="bottombar">Total results: {{ users.length }}</p>
    </div>
  
    <div class="pagination">
      <button 
        class="page-btn" 
        [disabled]="currentPage === 1" 
        (click)="goToPage(currentPage - 1)">
        &lt;
      </button>
  
      <button 
        class="page-btn" 
        *ngFor="let page of totalArrayPages" 
        [class.active]="page === currentPage" 
        (click)="goToPage(page)">
        {{ page }}
      </button>
  
      <button 
        class="page-btn" 
        [disabled]="currentPage === totalPages" 
        (click)="goToPage(currentPage + 1)">
        &gt;
      </button>
    </div>
  </div>

</section>

<!-- DELETE -->
<div class="modal" *ngIf="isOpenDeleteModal" style="display: block;">
  <div class="modal-content">
      <span class="close" (click)="closeConfirmDeleteModal()">&times;</span>
      <h2>Confirm Deletion</h2>
      <p>Are you sure you want to delete user: [{{ userToDelete?.name }}]?</p>
      <div class="button-container">
        <button class="delete-btn" (click)="deleteUsers()">Confirm Delete</button>
        <button class="no-delete-btn" (click)="closeConfirmDeleteModal()">Cancel</button>
      </div>
      
  </div>
</div>

<!-- VIEWING -->
<div class="modal" *ngIf="isOpenViewModal" style="display: block;">
  <div class="modal-content">
      <span class="close" (click)="closeConfirmViewModal()">&times;</span>
      <h2>Viewing User</h2>
      <p>Email: {{ userToView?.email }}</p>
      <p>Name: {{ userToView?.name }}</p>
      <p>Status: {{ userToView?.status ? 'Active' : 'Inactive' }}</p>
      <p>Role: {{ userToView?.role }}</p>
      <p><strong style="color: red;">User Created At:</strong> {{ userToView?.createdAt | date:'medium' }}</p>
      <p><strong style="color: red;">Last Updated At:</strong> {{ userToView?.updatedAt | date:'medium' }}</p>
      <button (click)="closeConfirmViewModal()">Cancel</button>
  </div>
</div>

<app-invite-user-modal
  [isOpenInviteModal]="isOpenInviteModal"
  (closeModalEvent)="closeInviteModal()"
  (userAddedEvent)="loadUsers()">

</app-invite-user-modal>


<!-- UPDATE User Modal -->
<app-update-user-modal 
  [isOpenUpdateModal]="isOpenEditModal"
  [userToEdit]="userToEdit"
  (closeModalEvent)="closeUpdateModal()"
  (userUpdatedEvent)="loadUsers()">
</app-update-user-modal>


