<section class="content">
  <div class="users-header">
    <h1>Users</h1>
    <button class="invite-btn" (click)="openInviteModal()">Invite User</button>
  </div>
  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" placeholder="Search users..." class="search-bar">
    <img src="assets/search-blue.svg" class="search-icon" alt="Search">
  </div>

  <table class="users-table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Status</th>
        <th>Role</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img src="assets/user-default.svg" class="action-icon"> {{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.status === true ? 'Active' : user.status === false ? 'Inactive' : 'No Status' }}</td>
        <td>{{ user.role }}</td>
        <td>
          <img src="assets/view.svg" class="action-icon" title="View" (click)="openConfirmViewModal(user)">
        </td>
        <td>
          <img src="assets/edit.svg" class="action-icon" title="Edit" (click)="openUpdateModal(user)">
        </td>        
        <td>
          <img src="assets/trash.svg" class="action-icon" title="Delete" (click)="openConfirmDeleteModal(user)">
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="modal" *ngIf="isOpenDeleteModal" style="display: block;">
  <div class="modal-content">
      <span class="close" (click)="closeConfirmDeleteModal()">&times;</span>
      <h2>Confirm Deletion</h2>
      <p>Are you sure you want to delete {{ userToDelete?.name }}?</p>
      <button (click)="deleteUsers()">Confirm Delete</button>
      <button (click)="closeConfirmDeleteModal()">Cancel</button>
  </div>
</div>

<!-- DELETE -->
<div class="modal" *ngIf="isOpenViewModal" style="display: block;">
  <div class="modal-content">
      <span class="close" (click)="closeConfirmViewModal()">&times;</span>
      <h2>Viewing User</h2>
      <p>Email: {{ userToView?.email }}</p>
      <p>Name: {{ userToView?.name }}</p>
      <p>Status: {{ userToView?.status ? 'Active' : 'Inactive' }}</p>
      <p>Role: {{ userToView?.role }}</p>
      <p><strong style="color: red;">User Created At:</strong> {{ userToView?.createdAt | date:'medium' }}</p>
      <p><strong style="color: red;">Last Updated At:</strong> {{ userToView?.updatedAt | date:'medium' }}</p>
      <button (click)="closeConfirmViewModal()">Cancel</button>
  </div>
</div>

<app-invite-user-modal
  [isOpenInviteModal]="isOpenInviteModal"
  (closeModalEvent)="closeInviteModal()"
  (userAddedEvent)="loadUsers()">

</app-invite-user-modal>


<!-- UPDATE User Modal -->
<app-update-user-modal 
  [isOpenUpdateModal]="isOpenEditModal"
  [userToEdit]="userToEdit"
  (closeModalEvent)="closeUpdateModal()"
  (userUpdatedEvent)="loadUsers()">
</app-update-user-modal>


