<div class="course-details-container">
    <span class="material-icons back-icon" (click)="goBack()">arrow_back</span> 
  
    <div class="course-info-card">
      <div class="students-header">
        <h2>📘 Course Information</h2>
        <button class="add-students-button" (click)="openModalTeachers()" *ngIf="isAdmin()">Assign Teacher</button>
      </div>
      <p>
        <strong>Teacher(s):</strong>
        <ng-container *ngIf="selectedCourse?.teacher?.length > 0; else noTeachers">
          <span *ngFor="let teacher of selectedCourse.teacher; let last = last">
            {{ teacher.name }}<span *ngIf="!last">, </span>
          </span>
        </ng-container>
      </p>

      <ng-template #noTeachers>
        <span style="color: red;"><em>No teacher assigned yet.</em></span>
      </ng-template>
    
      <p><strong>Course Code:</strong> {{ selectedCourse?.courseCode }}</p>
      <p><strong>Course Title:</strong> {{ selectedCourse?.courseTitle }}</p>
      <p><strong>Population:</strong> {{ selectedCourse?.students?.length }} / {{ selectedCourse?.population }}</p>
      <p><strong>Course Units:</strong> {{ selectedCourse?.courseUnits }}</p>
      <p><strong>Course Status:</strong> {{ selectedCourse?.courseStatus }}</p>
      <p><strong>Semester:</strong> {{ selectedCourse?.semester?.schoolYear }}, {{selectedCourse?.semester?.startDate | date:'MMM dd, yyyy'}}</p>
    </div>

    <div class="students-section">
      <div class="students-header">
        <h3>👨‍🎓 Students Enrolled</h3>
        <button class="add-students-button" (click)="openModal()">Actions</button>
      </div>
  
      <div class="table-wrapper">
        <table class="students-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Added By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of selectedCourse?.students">
              <td>{{ student._id?.name }}</td>
              <td>{{ student._id?.email }}</td>
              <td *ngIf="isAdmin()">{{ student?.isAddedBy?._id === student._id._id ? 'Self-Enrolled' : student?.isAddedBy?.name}} </td>
              <td *ngIf="isStudent()">{{ student?.isAddedBy?._id === student._id._id ? 'Self-Enrolled' : 'Admin'}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Modal display -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
     <div class="modal-header">
      <h3 *ngIf="isAdmin()">Select Students to Add / Remove</h3> 
      <h3 *ngIf="isStudent()"> Enroll the course </h3>
      <button class="close-button" (click)="closeModal()"> &times; </button>
     </div>
     <p *ngIf="isAdmin()">Below are the students that can be added in the course</p>
      <p *ngIf="isStudent()">Press the green positive button to enroll in the course press again to unenroll</p>
        <div class="search-container">
            <div class="search-wrapper">
              <input
                type="text"
                id="search"
                class="search-bar"
                placeholder="Search students..."
                [(ngModel)]="searchTerm" 
                (keydown.enter)="onSearch()" 
                *ngIf="isAdmin()"
              />
              <img src="assets/search-blue.svg" class="search-icon" alt="Search" (click)="onSearch()" *ngIf="isAdmin()"/>
            </div>
          </div>
     <div class="table-container">
      <table class="trainee-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of displayedUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button 
              (click)="toggleUserInCourse(user)" 
              [ngClass]="{
                'add-btn': !isUserEnrolled(user._id),
                'remove-btn': isUserEnrolled(user._id)
              }"
            >
              {{ isUserEnrolled(user._id) ? '-' : '+' }}
            </button>
          </td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>

<!-- Modal Teacher -->
  <div class="modal-backdrop" *ngIf="showModalAdmins">
    <div class="modal">
     <div class="modal-header">
      <h3>Assign teacher</h3> 
      <button class="close-button" (click)="closeModal()"> &times; </button>
     </div>
     <p>Assign a teacher for them to handle the course.</p>

        <div class="search-container">
            <div class="search-wrapper">
              <input
                type="text"
                id="search"
                class="search-bar"
                placeholder="Search teachers..."
                [(ngModel)]="searchTerm" 
                (keydown.enter)="onSearch()" 
              />
              <img src="assets/search-blue.svg" class="search-icon" alt="Search" (click)="onSearch()"/>
            </div>
          </div>
     <div class="table-container">
      <table class="trainee-table">
        <thead>
          <tr>
            <th>Name of User</th>
            <th>Email</th>
            <th>Position</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsersAdmin">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button 
              (click)="assignAdmin(user._id)" 
              [ngClass]="{
                'add-btn': !isTeacher(user._id),
                'remove-btn': isTeacher(user._id)
              }"
            >
              {{ isTeacher(user._id) ? '-' : '+' }}
            </button>
          </td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>