<app-layout *ngIf="user" [user]="user"></app-layout>
<router-outlet></router-outlet>
<main class="main">
<div class="page-body">
  <div class="container">  
        <div class="left-panel">
          <!-- Loading Bar -->
           <div class="progress-container">
                <div *ngFor="let img of images; let i = index" class="progress-bar">
                  <div 
                    class="progress-fill" 
                    [style.width.%]="i === imageIndex ? progress : (i < imageIndex ? 100 : 0)"></div>
                </div>
              </div>
              <div class="location-text" *ngIf="images[imageIndex].showLocation">
                <span class="pin">📌</span> {{images[imageIndex].location}} 
              </div>
                <div class="carousel-wrapper" *ngIf="isUrl">
                  <button class="carousel-btn left" (click)="prevSlide()">
                    &#10094;
                  </button>
                    <div 
                      class="carousel-container" 
                      [style.transform]="'translateX(-' + imageIndex * 100 + '%)'"
                    >
                      <div class="carousel-slide" *ngFor="let img of images">
                        <img 
                          [src]="img.src" 
                          class="carousel-image"
                          (click)="togglePause()"
                          alt="carousel"
                          title="click to pause/unpause"
                        />
                      </div>
                    </div>
                    <button class="carousel-btn right" (click)="nextSlide()">
                    &#10095;
                  </button>
                  </div>
                
                </div>
        
        <div class="right-panel">
            <img src="assets/gamepad.svg" alt="LMC" class="lmc-log">
            <h2>School University Portal</h2>
            
            <button type="button" class="buttonGmail">
              <img src="assets/google.svg" alt="google" class="google-logo">
              Sign in with Google
            </button>
    
            <p>or Sign in With Email</p>
            
            <form (ngSubmit)="onLogin()"> 
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
    
                <label for="password">Password:</label>
                <div class="password-container">
                  <input type="password" id="password" name="password" [(ngModel)]="password" [type]="passwordFieldType" required />
                </div>
                <div class="forgot-password">Forgot Password?</div>
                <button type="submit">Login</button> 
                
            </form>
              <footer class="footer"> © Yevgeny A. | 2025  [redacted] All rights reserved.</footer>
        </div>   
    </div>
</div>
    
</main>
