
<app-layout *ngIf="user" [user]="user"></app-layout>
<router-outlet></router-outlet>
<main class="main">
    <div class="container">
        <div class="left-panel">
            <img src="assets/ategirl.svg" alt="Ate Girl">
        </div>
    
        <div class="right-panel">
            <img src="assets/LMCLogo.svg" alt="LMC" class="lmc-log">
            <h2>Welcome to LMC Admin App</h2>
            
            <button type="button" class="buttonGmail">
              <img src="assets/google.svg" alt="google" class="google-logo">
              Sign in with Google
            </button>
    
            <p>or Sign in With Email</p>
            
            <form (ngSubmit)="onLogin()"> 
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
    
                <label for="password">Password:</label>
                <div class="password-container">
                  <input type="password" id="password" name="password" [(ngModel)]="password" [type]="passwordFieldType" required />
                </div>
                <div class="forgot-password">Forgot Password?</div>
                <button type="submit">Login</button> 
            </form>
        </div>
    </div>
</main>

