<!-- layout.component.html -->
<div class="dashboard">
    <nav class="sidebar" id="sidebar" #sidebarRef>
      <img src="assets/LMCLogo.svg" alt="Logo" class="logo">
      <div class="user-profile" *ngIf="user">
        <img src="assets/user-default.svg" alt="User Profile" class="user-icon">
        <div class="user-info">
          <span class="user-name">{{ user.user.name}}</span>
          <span class="user-position">{{ user.user.role }}</span>
        </div>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/dashboard-white.svg" class="sidebar-icon">
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/career" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/career-white.svg" class="sidebar-icon">
            <span>Career Path</span>
          </a>
        </li>
        <li>
          <a routerLink="/learning-course" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/school-white.svg" class="sidebar-icon">
            <span>Learning Course</span>
          </a>
        </li>
        <li>
          <a routerLink="/assessments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/clipboard-white.svg" class="sidebar-icon">
            <span>Assessments</span>
          </a>
        </li>
        <li *ngIf="role !== 'Trainee'">
          <a routerLink="/modules" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/book-white.svg" class="sidebar-icon">
            <span>Module Library</span>
          </a>
        </li>
        <li>
          <a routerLink="/teams" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/teams-white.svg" class="sidebar-icon">
            <span>Teams</span>
          </a>
        </li>
        <li *ngIf="role !== 'Trainee'">
          <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/users-white.svg" class="sidebar-icon">
            <span>Users</span>
          </a>
        </li>
        <li>
          <a routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/reports-white.svg" class="sidebar-icon">
            <span>Reports</span>
          </a>
        </li>
        <li>
          <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/profile-white.svg" class="sidebar-icon">
            <span>Profile</span>
          </a>
        </li>
        <li *ngIf="role !== 'Trainee'">
          <a routerLink="/announcements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/megaphone-white.svg" class="sidebar-icon">
            <span>Announcements</span>
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/gear-white.svg" class="sidebar-icon">
            <span>Settings</span>
          </a>
        </li>
      </ul>      
    </nav>
  
    <div class="main-content" id="mainContent" #mainContentRef>
      <header class="topbar">
  
      <div class="notification-bell-wrapper" #notificationBellWrapper (click)="toggleNotifications()">
          <img src="assets/notification-bell-white.svg" class="sidebar-icon" style="cursor: pointer;" title="Notification">
            <span class="notification-badge" *ngIf="notifications.length > 0">
              {{ notifications.length }}
            </span>
              </div>
          <img src="assets/logout-white.svg" class="sidebar-icon" (click)="onLogout()" style="cursor: pointer;" title="Logout?"> 
        <div class="notification-popup" *ngIf="showNotifications" #notificationPopup>
      <div class="notif-header">
        <p class="notif-title">Notifications:</p>
        <p class="view-read" (click)="viewReadNotifications()" style="cursor: pointer;">
          {{ showReadNotification ? 'View Unread Notifications' : 'View Read Notifications' }}
        </p>
      </div>

  <hr style="margin: 6px 0; border: 0; border-top: 1px solid #ccc;" />
  <!-- UNREAD notifications -->
      <ng-container *ngIf="!showReadNotification">
        <div *ngFor="let notif of notifications" style="margin-bottom: 10px;" title="Mark as read">
          <div (click)="markAsRead(notif._id)" style="cursor: pointer;">{{ notif.message }}</div>
          <div class="bottom-date">
            <small style="color: gray;">{{ notif.createdAt | date:'MM/dd/yyyy, h:mm a' }}</small>
          </div>
          
          <hr style="margin: 6px 0; border: 0; border-top: 1px solid #ccc;" />
        </div>
        <div class="bottom-title" *ngIf="notifications.length > 0">Click the notification to mark as read.</div>
        <div class="bottom-title" *ngIf="notifications.length === 0">No notifications for now..</div>
      </ng-container>

  <!-- READ notifications -->
      <ng-container *ngIf="showReadNotification">
        <div *ngFor="let notif of readNotification" style="margin-bottom: 10px;">
          <div>{{ notif.message }}</div>
          <div class="bottom-date">
            <small style="color: gray;">{{ notif.createdAt | date:'MM/dd/yyyy, h:mm a' }}</small>
          </div>
          <hr style="margin: 6px 0; border: 0; border-top: 1px solid #ccc;" />
        </div>
        <div class="bottom-title" *ngIf="readNotification.length === 0">No read notifications found.</div>
      </ng-container>
    </div>

      </header>
      <router-outlet></router-outlet>
    </div>
  
  </div>
  