 
<div class="modal" [ngClass]="{ 'show': isOpenUpdateModal }" >
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="title">
        <h2>Update User</h2>
      </div>
  
      <form (ngSubmit)="updateUser()">
        <div>
          <label>Name:</label>
          <input type="text" [(ngModel)]="name" name="name" required />
        </div>
  
        <div>
          <label>Email:</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>
  
        <div>
          <label>Password:</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Change the user password here" />
        </div>
  
        <div class="form-group">
          <label>Role:</label>
          <select [(ngModel)]="role" name="role" required class="custom-dropdown">
            <option value="" disabled>Select role</option>
            <option value="Admin">Admin</option>
            <option value="Trainee">Trainee</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Status:</label>
          <select [(ngModel)]="status" name="status" required class="custom-dropdown">
            <option [ngValue]="true">Active</option>
            <option [ngValue]="false">Inactive</option>
          </select>
        </div>
  
  
        <button type="submit" class="button-wrapper">Save</button>
      </form>
    </div>
  </div>
  