.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Adjust to center modal correctly */
    width: 100%; /* Modal width (can be adjusted as needed) */
    height: auto; /* Auto height based on content */
    overflow: hidden; /* Prevent scroll on the modal itself */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show {
    display: block; /* Show the modal when isOpen is true */
}
.snack-success {
    background-color: #4caf50; /* Green color */
    color: white; /* Text color */
  }