/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif; 
}
html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-error .mdc-snackbar__surface {
    background-color: #ec6262 !important;
    color: white !important;
  }
  
  .snack-error .mdc-button__label {
    color: white !important;
  }
  
  .snack-success .mdc-snackbar__surface {
    background-color: #5bd85f !important;
    color: white !important;
  }
  
  .snack-success .mdc-button__label {
    color: white !important;
  }
  ::ng-deep .mat-snack-bar-container {
    white-space: pre-line;
  }
  

